<cigyan-banner banner-title='What you are learning today' banner-message='Teach more learn more explore more using CI Gyan'></cigyan-banner>
<div class="trainingDetails">
	<table>
	<tr>
		<th>Course code</th>
		<th>:</th>
		<td>{{sessionDes.courseCode}}</td>
	</tr>
	<tr>
		<th>Course name</th>
		<th>:</th>
		<td>{{sessionDes.courseName}}</td>
	</tr>
	<tr>
		<th>Trainer</th>
		<th>:</th>
		<td>{{sessionDes.trainer}}</td>
	</tr>
	<tr>
		<th>Start date</th>
		<th>:</th>
		<td>{{sessionDes.startDate}}</td>
	</tr>
	<tr>
		<th>End date</th>
		<th>:</th>
		<td>{{sessionDes.endDate}}</td>
	</tr>
	<tr>
		<th>Start Time</th>
		<th>:</th>
		<td>{{sessionDes.startTime}}</td>
	</tr>
	<tr>
		<th>End Time</th>
		<th>:</th>
		<td>{{sessionDes.endTime}}</td>
	</tr>
	<tr>
		<th>Venue</th>
		<th>:</th>
		<td>{{sessionDes.venue}}</td>
	</tr>
</table>
<div class="register">
	<button ng-click="registerEvent()">Register</button>
	<input type="reset" ng-click="" value="Cancel"/>
</div>
</div>